language: PHP

php:
  - 5.6
  - 5.5
  - 5.4

before_script:
  - travis_retry composer self-update
  - travis_retry composer update

script:
  - vendor/bin/phpcs --standard=psr2 src/
  - vendor/bin/phpunit --verbose
